.mv{
    position: relative;
    width: 100%;
    height: calc(100vh - 13.2rem);
    z-index: 99;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 7.8vw);
        height: 100%;
        background: var(--green-light);
    }
    &__sign{
        position: absolute;
        left: 3.75vw;
        bottom: 16.5rem;
    }
    &__profile{
        position: relative;
        margin: 0 auto;
        width: 72rem;
        height: 58.8vh;
        background: var(--green);
        z-index: 99;
    }
    &__cont{
        position: absolute;
        top: 50%;
        left: 67rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        max-width: 48.8rem;
    }
}